body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* homepage */

.menu-item{
  padding: 0!important;
  overflow: hidden;
}


.menu-img{
  height: 318px!important;
  width: 429px!important;
}

.inside-box{
  position: absolute;
  left:35%;
  top:30%;
  background-color: antiquewhite;
  opacity: 0.7;
  width: 120px;
  height: 90px;
}

.menu-item:hover .inside-box{
  opacity: 0.9;
}

.subtitle{
  font-weight: lighter;
  font-size: 16px;
}

.title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #4a4a4a;
}

/* Shop Page */
.card{
  width:100%;
  margin: 20px;
}
.card-img-top{
  height: 350px!important;
}

.margin-title{
  margin-left: 3.5em;
}

/* Sign Form */

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}


/* shopping Icon */

.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;  
}
.shopping-icon {
    width: 24px;
    height: 24px;
  }
.item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
  }

  /* cart dropdown */

  .cart-dropdown {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
  
  }
   .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow: scroll;
    }
  .button {
      margin-top: auto;
    }

    /* cart button */

    .cart-button{
      display:none;
      position: absolute;
      bottom:80px;
      left:22%;
      width:180px;
      height:45px;
      justify-content: center;
      color:white;
    }

    .card:hover  .cart-button{
      display:flex;
      opacity: 0.85;
    }

    .card:hover{
      opacity: 0.8;
    }


    /* cartitem */

    .cart-item {
      width: 100%;
      display: flex;
      height: 80px;
      margin-bottom: 15px;     
    }
    .cart-img {
      width: 30%;
    }

    .item-details {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 10px 20px;
    }
    .name {
      font-size: 14px;
    }

    /* CheckOut */

    .horizontal-line{
      width:70%;
    }

    .check-card{
      width:775px!important;
    }

    .total-price{
      margin-right: 28%;
    }

    .cursor{
      cursor:pointer;
    }