body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* homepage */

.menu-item{
  padding: 0!important;
  overflow: hidden;
}


.menu-img{
  height: 318px!important;
  width: 429px!important;
}

.inside-box{
  position: absolute;
  left:35%;
  top:30%;
  background-color: antiquewhite;
  opacity: 0.7;
  width: 120px;
  height: 90px;
}

.menu-item:hover .inside-box{
  opacity: 0.9;
}

.subtitle{
  font-weight: lighter;
  font-size: 16px;
}

.title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #4a4a4a;
}

/* Shop Page */
.card{
  width:20%!important;
  margin: 20px;
}
.card-img-top{
  height: 350px!important;
}

/* Sign Form */

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: 7px 0 0 13px;
  transition: all 200ms;
  opacity: 0.5;
}

.form-control:focus + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}